html {
	box-sizing: border-box;
}
body {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 13px;
}
a { 
	text-decoration: none;
}
* {
/*outline: 1px solid red;*/
}
.visually_hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}
.wrapper {
	width: 940px;
	margin: 0 auto 0;
}
/*header*/
.top_header {
	width: 100%;
	background-color: #293449;
	color: #ffffff;
}
.top_header .wrapper {
	display: flex;
	min-height: 42px;
	justify-content: space-between;
}
.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;	
	min-width: 220px;
	font-size: 24px;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #ee3643;
}
.logo::after {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 220px;
	height: 5px;
	background-color: #9a212a;

}
.logo:hover {
	background-color: #ca2c37;
}
.logo:hover::after {
	background-color: #9a212a;
}
.logo:active {
	background-color: #ba2732;
}
.logo:active::after {
	background-color: #8e1e26;
}
.top_header .wrapper {
	display: flex;
	height: 100%;
}
.top_header a:not(.logo),
.top_header .search {
	color: #ffffff;
	font-size: 17px;
}
.top_header a:not(.logo) {
	display: flex;
	justify-content: center;
	align-items: center;	
	min-width: 150px;
}
.search {
	display: flex;
	position: relative;
}
.search_field {
	min-width: 270px;
	background-color: #293449;
	border: 0;
	padding-left: 50px;
}
.search::before {
	content: '';
	position: absolute;
	top: 12px;
	left: 17px;
	width: 17px;
	height: 17px;
	background: url(../img/icon-search.svg) no-repeat;
	opacity: 0.3;
}
.search:hover::before {
	opacity: 1;
}
.search:active::before {
	opacity: 0.5;
}
.search:focus::before {
	background: url(../img/icon-search-red.svg) no-repeat;
	opacity: 1;	
}
.search input::-webkit-input-placeholder {
	color: #ffffff; 
	opacity: 1;
}
.search input::-moz-placeholder { 
	color: #ffffff; 
	opacity: 1; 
}
.search input:-webkit-input-placeholder {
	color: #ffffff; 
	opacity: 1;
}
.search input:-moz-placeholder { 
	color: #ffffff; 
	opacity: 1; 
}
.search_field:focus,
.search label:focus {
	background-color: #ffffff;
	color: #000000;
}
.search_field:not(:focus):hover,
.top_header a:not(.logo):not(.ordering):hover {
	background-color: #212a3a;
}
.bookmark {
	position: relative;
}
.bookmark::before {
	content: '';
	position: absolute;
	top: 12px;
	left: 10px;
	width: 17px;
	height: 17px;
	background: url(../img/icon-bookmark.svg) no-repeat;
	opacity: 0.3;
}
.bookmark:hover::before {
	opacity: 1;
}
.bookmark:active::before {
	opacity: 0.5;
}
.basket {
	position: relative;
}
.basket::before {
	content: '';
	position: absolute;
	top: 12px;
	left: 10px;
	width: 17px;
	height: 17px;
	background: url(../img/icon-cart.svg) no-repeat;
	opacity: 0.3;	
}
.basket:hover::before {
	opacity: 1;
}
.basket:active::before {
	opacity: 0.5;
}
.top_header .bookmark:active,
.top_header .basket:active {
	background-color: #161d29;
	color: rgba(255, 255, 255, 0.5);	
}
.top_header .ordering {
	background-color: #63a63e;
}
.top_header .ordering:hover {
	background-color: #5fbb2d;
}
.top_header .ordering:active {
	background-color: #518534;
	color: rgba(255, 255, 255, 0.5);
}
.main_header_main {
	min-height: 280px;
	background-color: #f3f7f8;
}
.main_header_main .wrapper:first-child {
	display: flex;
	min-height: 115px;
	padding-top: 45px;
}
.main_header_main .wrapper:last-child {
	display: flex;
}
.main_header_about_market {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	min-width: 320px;
	width: 196px;
	color: #ee3643;
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
}
.main_header_about_market p {
	display: flex;
	align-items: center;
	width: 200px;
	margin: 0;
}
.main_header_contacts {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.main_header_contacts a {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	min-width: 270px;
	min-height: 45px;
	font-size: 21px;
	color: #ee3643;
	border: 3px solid #ffffff;
}
.main_header_contacts p {
	margin-top: 10px;
	font-size: 14px;
	color: #32425c;
}
.entry {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;	
	min-width: 350px;
}
.entry_form {
	display: flex;	
}
.entry_form a:first-child {
	display: flex;
	justify-content: center;
	align-items: center;	
	min-width: 120px;
	min-height: 45px;
	margin-right: 10px;
	background-color: #ffffff;
}
.entry_persone p {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 300px;
	min-height: 45px;
	margin: 0;
}
.entry_form a:last-child {
	display: flex;
	justify-content: center;
	align-items: center;	
	min-width: 150px;
	min-height: 45px;
	background-color: #ffffff;	
}
.entry_form a,
.entry_name p {
	font-size: 21px;
	color: #000000;
}
.entry_form a:hover,
.entry_persone_info a:hover {
	color: #ee3643;	
}
.entry_form a:active,
.entry_name p:active,
.entry_persone_info a:active {
	color: #000000;
	opacity: 0.3;
}
.entry_persone_info {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;	
}
.entry_persone_info a:first-child {
	margin-right: 20px;
}
.entry_persone_info a:first-child::after {
	content: '';
	width: 4px;
	height: 5px;
	background-color: #32425c;
	border-radius: 50%;
	margin-left: 15px;
	position: absolute;	
	top: 6px;
	left: 90px;
}
.entry_persone_info a {
	font-size: 16px;
	color: #32425c;
	text-decoration: underline;
	margin-left: 15px;
}
.entry_name {
	display: flex;
	justify-content: center;
	align-items: center;	
	min-width: 300px;
	min-height: 45px;
	background-color: #ffffff;		
	margin-bottom: 10px;	
}
.main_navigation {
	width: 100%;
	height: 60px;
	background-color: #32425c;
	box-shadow: inset 0 -5px 0 #293449;
}
.main_navigation ul {
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0px;
}
.main_navigation a {
	display: flex;
	justify-content: center;
	align-items: center;		
	height: 60px;
	font-size: 17px;
	color: #ffffff;
	background-color: #32425c;
	padding-left: 30px;
	padding-right: 30px;
	box-shadow: inset 0 -5px 0 #293449;	
}
.main_navigation a:hover {
	background-color: #293449;
}
.main_navigation a:active {
	background-color: #1d2739;
	opacity: 0.5;
}
/*main*/
.category_headline {
	font-size: 30px;
	color: #32425c;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
}					
/*index.html*/
/*section	main_categories*/
.main_categories {
	background-color: #ffffff;
	margin-bottom: 55px;
}
.main_categories_cell {
	display: flex;
	justify-content: space-between;
	padding-top: 35px;
	padding-bottom: 20px;
}
.categories_cell_item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;	
	width: 300px;
	height: 125px;
	box-sizing: border-box;
	padding-top: 25px;
	padding-left: 25px;	
}
.categories_cell_item h2 {
	margin-top: 0;
	margin-bottom: 15px;
}
.categories_cell_item a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 135px;
	height: 40px;
	border-radius: 5px;
}				
.material {
	background-color: #ffbf47;
}
.instrument {
	background-color: #3bbce3;
}
.technics {	
	background-color: #dc91d8;	
}
.discounts {	
	background-color: #8ed78f;
}
.delivery {
	background-color: #ffc047;
}
.material h2,
.instrument h2,
.technics h2,
.discounts h2,
.delivery h2 {
	font-size: 24px;
	font-weight: normal;
	color: #ffffff;
}
.material a,
.instrument a,
.technics a,
.discounts a,
.delivery a {
	background-color: rgba( 0, 0, 0, 0.1);
	text-transform: uppercase;
	font-size: 14px;
	color: #ffffff;
}
.material a:hover,
.instrument a:hover,
.technics a:hover,
.discounts a:hover,
.delivery a:hover {
	background-color: rgba( 0, 0, 0, 0.2);
}
.material a:active,
.instrument a:active,
.technics a:active,
.discounts a:active,
.delivery a:active {
	background-color: rgba( 0, 0, 0, 0.3);	
}
.slider_and_info {
	display: flex;
	justify-content: space-between;
}
.info {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 300px;
}
.discounts {
	margin-bottom: 20px;
}
.slider h2 {
	font-size: 36px;
	color: #ffffff;
	text-transform: uppercase;
	margin: 0;
}
.slider p {
	font-size: 18px;
	color: #ffffff;
}
.slider_drill,
.slider_puncher {
	position: relative;
}
.slider_drill h2,
.slider_puncher h2 {
	position: absolute;
	top: 20px;
	left: 25px;
}
.slider_drill p,
.slider_puncher p {
	position: absolute;
	top: 65px;
	left: 25px;	
}
.slider_drill a,
.slider_puncher a {
	display: flex;
	justify-content: center;
	align-items: center;	
	position: absolute;
	bottom: 22px;
	left: 25px;	
	width: 195px;
	height: 38px;
	border-radius: 5px;
}
.main_link {
	background-color: #ee3643;
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
}
.main_link:hover {
	background-color: #ca2c37;
}
.main_link:active {
	background-color: #ba2732;
}
/*section popular_products*/
.popular_products {
	background-color: #ffffff;
}
.popular_products_head,
.popular_manufacturer_head {
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-height: 90px;
	background-color: #f9f5f0;
	padding-left: 30px;
	padding-right: 25px;
	margin-bottom: 20px;
}
.popular_products_head a,
.popular_manufacturer_head a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 255px;
	height: 40px;
	border-radius: 5px;	
}
.products_grid {
	display: flex;
	justify-content: space-between;
}
.products_grid_item {
	display: flex;
	position: relative;		
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 220px;
	height: 320px;
	box-sizing: border-box;
	padding-bottom: 20px;
}
.products_grid_item:hover {
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
} 
.container_grid_item {
	display: flex;
	position: relative;	
	justify-content: center;
	align-items: center;	
	width: 100%;
	height: 180px;
}
.buy_or_remember {
	position: absolute;
	top: 43px;
	left: 41px;
	display: none;	
}
.products_grid_item:hover img {
	display: none;
}
.products_grid_item:hover .buy_or_remember {
	display: block;
}
.price {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}
.price a {
	display: flex;
	justify-content: center;
	align-items: center;	
	width: 140px;
	height: 38px;
	box-sizing: border-box;
}
.products_grid_item p:first-of-type {
	width: 160px;
	height: 18px;
	text-align: center;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	margin-bottom: 10px;	
}
.price p:last-of-type {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	font-weight: bold;	
	color: #a9a9a9;	
	text-decoration: line-through;
	text-transform: uppercase;
	margin-bottom: 13px;
}
.price a {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;	
}
.buy_or_remember a:first-child {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 135px;
	height: 38px;	
	border-radius: 3px;
	background-color: #63a63e;
	box-shadow: inset 0 -3px 0 #367315;
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 8px;
}
.buy_or_remember a:first-child:hover {
	background-color: #5fbb2d;
	box-shadow: inset 0 -3px 0 #367315;	
}
.buy_or_remember a:first-child:active {
	background-color: #518534;
	box-shadow: none;		
}
.buy_or_remember a:last-child {
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	width: 135px;
	height: 38px;	
	border-radius: 3px;	
	border: 3px solid #63a63e;
	font-size: 14px;
	color: #32425c;
	text-transform: uppercase;
}
.buy_or_remember a:last-child:hover {
	border: 3px solid #32425c;	
}
.buy_or_remember a:last-child:active {
	border: 3px solid #32425c;
	opacity: 0.3;
	color: #32425c;
}
/*section popular_manufacturer*/
.popular_manufacturer {
	background-color: #ffffff;	
}
.popular_manufacturer_grid {
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	min-height: 310px;
	flex-wrap: wrap;
	margin-bottom: 85px;	
}

.popular_manufacturer_grid a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 220px;
	height: 145px;	
	border: 1px solid #eaeaea;
}
.popular_manufacturer_grid a:hover {
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}
.popular_manufacturer_grid a:active {
	box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}
/* section services*/
.services {
	background-color: #f4f7f9;
	padding-top: 65px;
	padding-bottom: 105px;
}
.services_top_part {
	margin-bottom: 70px;
}
.services_top_part h2 {
	font-size: 30px;
	color: #000000;
	font-weight: normal;
	text-transform: uppercase;
}
.services_paragraph {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	color: #000000;
	line-height: 24px;
	margin: 0;
}
.services_headline {
	font-size: 36px;
	color: #32425c;
	text-transform: uppercase;
	margin: 0;
}
.services_bottom_part {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.services_guarantee {
	display: none;
}
.services_credit {
	display: none;
}
.services_bottom_part_nav {
	display: flex;
	position: relative;
	box-sizing: border-box;
	flex-direction: column;
	min-width: 240px;
	list-style: none;
	align-self: flex-start;
	margin: 0;
	padding: 0;
}
.services_bottom_part_nav:after {
	content: '';
	position: absolute;
	top: -35px;
	right: -4px;
	width: 11px;
	height: 280px;
	background: url(../img/shadow_line.png);
}
.services_bottom_part_nav li {
	display: flex;
	align-items: center;
	width: 240px;
	height: 61px;
	background-color: #32425c;
	font-size: 21px;
	font-weight: bold;
	color: #ffffff;
	padding-left: 23px;
}
.services_bottom_part_nav li:hover {
	background-color: #293449;
}
.services_bottom_part_nav li:active {
	background-color: #ffffff;
	color: #32425c;
}
.services_delivery,
.services_guarantee,
.services_credit {
	margin-left: 80px;
}
.services_delivery h2,
.services_guarantee h2,
.services_credit h2 {
	margin-bottom: 20px;
}

/*section about*/
.about .wrapper {
	display: flex;
	justify-content: space-between;
	padding-top: 80px;
	margin-bottom: 85px;
}
.about_company {
	display: flex;
	flex-direction: column;
	width: 520px; 
}
.contacts {
	display: flex;
	flex-direction: column;	
	width: 300px;
}
.about_headline {
	font-size: 30px;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 20px;
}
.about_company .services_paragraph {
	margin-bottom: 20px;
}
.about_company ul {
	list-style: none;
	margin: 0;
}
.about_company li:not(:last-child) {
	margin-bottom: 20px;
}
.about_company li:last-child {
	margin-bottom: 35px;
}
.about_company .main_link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 220px;
	height: 38px;
	border-radius: 5px;
}
.about_company_link {
	font-size: 18px;
	color: #000000;	
}
.contacts .services_paragraph {
	margin-bottom: 30px;
}
.contacts img {
	margin-bottom: 35px;	
}
.contacts .main_link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 38px;
	border-radius: 5px;		
}
/*cataloh.html*/
.breadcrumbs ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}
.breadcrumbs li {
	margin-right: 40px;
}
.breadcrumbs_link {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 60px;
	color: #000000;
	text-transform: uppercase;
}
/*section product_page*/
.perforator_link {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	min-height: 90px;
}
.perforator_link .category_headline {
	margin-left: 30px;
}
.perforator_link {
	background-color: #f2f6f8;	
	margin-bottom: 20px;
}
.product_page_container {
	display: flex;
	justify-content: space-between;
}
.product_page_container aside {
	display: flex;
	flex-direction: column;
	width: 220px;
}
.product_page .product_grid {
	display: flex;
	flex-direction: column;
	width: 700px;
}			
.filter {
	align-self: flex-start;
	background-color: #f7f3ec;
}
.column_pointer {	
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 38px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	color: #000000;
	text-transform: uppercase;
	padding-left: 18px;
	margin: 0;	
}
.filter label {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	min-height: 55px;	
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	font-weight: bold;
	color: #000000;
	background-color: #ffffff;
	text-transform: uppercase;
}
.filter	button {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	color: #000000;	
}
.sorting {
	display: flex;
	background-color: #f7f3ec;
	margin-bottom: 20px;
}
.sorting p {
	margin-right: 140px;	
}
.sorting a:first-of-type {
	margin-right: 70px;
}
.sorting a:nth-of-type(2) {
	margin-right: 65px;	
}
.sorting a:nth-of-type(3) {
	margin-right: 45px;	
}
.sorting a {
	align-self: center;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 13px;
	color: #000000;
	opacity: 0.3;
	text-transform: uppercase;
	border-bottom: 1px dotted #ee3643;	
}
.sorting a:hover {
	color: #000000;
	opacity: 1;
	border-bottom: 1px solid #ee3643;	
}
.sorting a:active {
	color: #ee3643;
	border: none;
}
.puncher_products_grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.puncher_products_grid .products_grid_item:not(:nth-last-child(-n+3)) {
	margin-bottom: 20px;
}
.puncher_products_grid .products_grid_item:nth-last-child(-n+3) {
	margin-bottom: 50px;	
}
.pagination {
	margin-bottom: 60px;
}
.pagination ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}
.pagination li {
	margin-right: 10px;
}
.pagination a {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	color: #000000;	
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
}
.pagination a:not(.pagination_next) {
	width: 38px;
	height: 38px;	
}
.pagination_next {
	width: 140px;
	height: 38px;
}
.pagination a:hover {
	border: 1px solid #bdc6ca;
}
.pagination a:active {
	border: 1px solid #ee3643;
}
/*.pagination a:visited {
	color: #ffffff;
	background-color: #ee3643;
	border: none;
}*/
/*section about_punchers*/
.about_punchers {
	background-color: #f2f6f8;
	padding-top: 65px;
	padding-bottom: 75px;
}
.about_punchers h2 {
	margin-top: 0;
	margin-bottom: 30px;
}				
/*footer*/
.footer_heater {
	background-color: #32425c;
	padding-bottom: 50px;	
}
.footer_heater .wrapper {
	display: flex;
	flex-direction: column;
}
.footer_heater_top,
.footer_heater_bottom {
	display: flex;
	justify-content: space-between;
}
.footer_heater_top .logo {
	width: 220px;
	height: 68px;
	margin-bottom: 30px;
}
.footer_heater_top ul,
.footer_heater_bottom ul {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
}
.footer_heater_bottom ul {
	align-items: flex-start;
}
.footer_heater_bottom .footer_contacts {
	margin: 0;
}
.footer_heater_top li:not(:last-child),
.footer_heater_bottom li:not(:last-child) {
	margin-right: 60px;
}
.grey {
 	color: #f1f5f7;
}
.yellow {
	color: #ffd180;	
}
.footer_nav_link {
	font-size: 18px;
}
.footer_nav_link:hover {
	text-decoration: underline;
}
.footer_nav_link:active {
	opacity: 0.5;
	text-decoration: none;
}
.footer_contacts,
.footer_contacts a {
	font-size: 18px;
	color: #f1f5f7;
}
.footer_heater_bottom > ul {
	list-style: none;
		margin: 0;
}
.footer_footer {
	background-color: #293449;
}
.footer_footer .wrapper {
	display: flex;
	align-items: center;
	min-height: 105px;	
}
.copyright {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	margin: 0;
}
.social {
	margin-left: 160px;
}
.social a {
	background-color: #212a3a; 
	color: #ffffff;
}
.social a:hover,
.social a:active {
	background-color: #ee3643;
}
.feedback {
	margin-left: 120px;
}
.developed_by {
	margin-left: 50px;	
}
.feedback,
.developed_by {
	font-size: 16px;
	color: #ffffff;
}
.feedback a,
.developed_by a  {
	color: #ffd180;
}
.feedback a:hover,
.developed_by a:hover  {
	text-decoration: underline;
}
.feedback a:active,
.developed_by a:active {
	color: #ee3643;
}