html {
	box-sizing: border-box;
}
body {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 13px;
}
a { 
	text-decoration: none;
}
* {
/*outline: 1px solid red;*/
}
.visually_hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}
.display_off {
	display: none;
}
.wrapper {
	width: 940px;
	margin: 0 auto 0;
}
/*header*/
.top_header {
	width: 100%;
	background-color: #293449;
	color: #ffffff;
}
.top_header .wrapper {
	display: flex;
	min-height: 42px;
	justify-content: space-between;
}
.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;	
	min-width: 220px;
	font-size: 24px;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #ee3643;
}
.logo::after {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 220px;
	height: 5px;
	background-color: #9a212a;

}
.logo:hover {
	background-color: #ca2c37;
}
.logo:hover::after {
	background-color: #9a212a;
}
.logo:active {
	background-color: #ba2732;
}
.logo:active::after {
	background-color: #8e1e26;
}
.top_header .wrapper {
	display: flex;
	height: 100%;
}
.top_header a:not(.logo),
.top_header .search {
	color: #ffffff;
	font-size: 17px;
}
.top_header a:not(.logo) {
	display: flex;
	justify-content: center;
	align-items: center;	
	min-width: 150px;
}
.search {
	display: flex;
	position: relative;
}
.search_field {
	min-width: 270px;
	background-color: #293449;
	border: 0;
	padding-left: 50px;
}
.search_field {
	background-image: url(../img/icon-search-stat.svg);
	background-repeat: no-repeat;	
	background-position: 17px 12px;
}
.search_field:hover {
	background-image: url(../img/icon-search.svg);
}
.search_field:active {
	background-image: url(../img/icon-search.svg);
}
.search_field:focus {
	background-image: url(../img/icon-search-red.svg);
}
.search input::-webkit-input-placeholder {
	color: #ffffff; 
	opacity: 1;
}
.search input::-moz-placeholder { 
	color: #ffffff; 
	opacity: 1; 
}
.search input:-webkit-input-placeholder {
	color: #ffffff; 
	opacity: 1;
}
.search input:-moz-placeholder { 
	color: #ffffff; 
	opacity: 1; 
}
.search_field:focus,
.search label:focus {
	background-color: #ffffff;
	color: #000000;
}
.search_field:not(:focus):hover,
.top_header a:not(.logo):not(.ordering):hover {
	background-color: #212a3a;
}
.bookmark {
	position: relative;
}
.bookmark::before {
	content: '';
	position: absolute;
	top: 12px;
	left: 10px;
	width: 17px;
	height: 17px;
	background: url(../img/icon-bookmark.svg) no-repeat;
	opacity: 0.3;
}
.bookmark:hover::before {
	opacity: 1;
}
.bookmark:active::before {
	opacity: 0.5;
}
.basket {
	position: relative;
}
.basket::before {
	content: '';
	position: absolute;
	top: 12px;
	left: 10px;
	width: 17px;
	height: 17px;
	background: url(../img/icon-cart.svg) no-repeat;
	opacity: 0.3;	
}
.basket:hover::before {
	opacity: 1;
}
.basket:active::before {
	opacity: 0.5;
}
.top_header .bookmark:active,
.top_header .basket:active {
	background-color: #161d29;
	color: rgba(255, 255, 255, 0.5);	
}
.top_header .ordering {
	background-color: #63a63e;
}
.top_header .ordering:hover {
	background-color: #5fbb2d;
}
.top_header .ordering:active {
	background-color: #518534;
	color: rgba(255, 255, 255, 0.5);
}
.main_header_main {
	min-height: 280px;
	background-color: #f3f7f8;
}
.main_header_main .wrapper:first-child {
	display: flex;
	min-height: 115px;
	padding-top: 45px;
}
.main_header_main .wrapper:last-child {
	display: flex;
}
.main_header_about_market {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	min-width: 320px;
	width: 196px;
	color: #ee3643;
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
}
.main_header_about_market p {
	display: flex;
	align-items: center;
	width: 200px;
	margin: 0;
}
.main_header_contacts {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.main_header_contacts::before {
	content: '';
	position: absolute;
	top: 13px;
	left: 15px;
	width: 19px;
	height: 19px;
	background: url(../img/icon-phone.svg) no-repeat;
	opacity: 0.9;		
}
.main_header_contacts a {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	min-width: 270px;
	min-height: 45px;
	font-size: 21px;
	color: #ee3643;
	border: 3px solid #ffffff;
}
.main_header_contacts p {
	margin-top: 10px;
	font-size: 14px;
	color: #32425c;
}
.entry {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;	
	min-width: 350px;
}
.entry_form {
	display: flex;	
}
.entry_form a:first-child {
	display: flex;
	position: relative;
	justify-content: flex-start;
	align-items: center;	
	box-sizing: border-box;
	min-width: 120px;
	min-height: 45px;
	padding-left: 48px;
	margin-right: 10px;
	background-color: #ffffff;
}
.entry_form_login::before {
	content: '';
	position: absolute;
	top: 14px;
	left: 14px;
	width: 20px;
	height: 17px;
	background: url(../img/icon-login.svg) no-repeat;
	opacity: 0.3;		
}
.entry_form_login:hover::before {
	background: url(../img/icon-login-hover.svg) no-repeat;
	opacity: 1;
}
.entry_form_login:active::before {
	background: url(../img/icon-login.svg) no-repeat;
	opacity: 0.3;
}
.entry_form a:last-child {
	display: flex;
	justify-content: center;
	align-items: center;	
	min-width: 150px;
	min-height: 45px;
	background-color: #ffffff;	
}
.entry_form a,
.entry_name p {
	font-size: 21px;
	color: #000000;
}
.entry_form a:hover,
.entry_persone_info a:hover {
	color: #ee3643;	
}
.entry_form a:active,
.entry_name p:active,
.entry_persone_info a:active {
	color: rgba(0, 0, 0, 0.3);
}
.entry_persone_info {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;	
}
.entry_persone_info a:first-child {
	margin-right: 20px;
}
.entry_persone_info a:first-child::after {
	content: '';
	width: 4px;
	height: 5px;
	background-color: #32425c;
	border-radius: 50%;
	margin-left: 15px;
	position: absolute;	
	top: 6px;
	left: 90px;
}
.entry_persone_info a {
	font-size: 16px;
	color: #32425c;
	text-decoration: underline;
	margin-left: 15px;
}
.entry_name {
	display: flex;
	position: relative;
	justify-content: flex-start;
	align-items: center;	
	min-width: 300px;
	min-height: 45px;
	background-color: #ffffff;		
	margin-bottom: 10px;
	box-sizing: border-box;
}
.entry_name p {
	margin: 0 0 0 45px;
}
.entry_name:before {
	content: '';
	position: absolute;
	top: 13px;
	left: 13px;
	width: 20px;
	height: 18px;
	background-image: url(../img/icon-user.svg);
	background-repeat: no-repeat;
}
.entry_name:hover:before {
	background-image: url(../img/icon-user-hover.svg);	
}
.entry_name:active:before {
	background-image: url(../img/icon-user.svg);	
}
.entry_name label[for="button_entry"] {
	position: absolute;
	top: 13px;
	right: 10px;
	width: 20px;
	height: 17px;
	background-image: url(../img/icon-logout.svg);
	background-repeat: no-repeat;
}
.entry_name:hover label[for="button_entry"] {
	background-image: url(../img/icon-logout-hover.svg);	
}
.entry_name:active label[for="button_entry"] {
	background-image: url(../img/icon-logout.svg);	
}
.main_navigation {
	width: 100%;
	height: 60px;
	background-color: #32425c;
	box-shadow: inset 0 -5px 0 #293449;
}
.main_navigation ul {
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}
.main_navigation a {
	display: flex;
	justify-content: center;
	align-items: center;		
	height: 60px;
	font-size: 17px;
	color: #ffffff;
	background-color: #32425c;
	padding-left: 30px;
	padding-right: 30px;
	box-shadow: inset 0 -5px 0 #293449;	
}
.main_navigation a:hover {
	background-color: #293449;
}
.main_navigation a:active {
	background-color: #1d2739;
	opacity: 0.5;
}
/*main*/
.category_headline {
	font-size: 30px;
	color: #32425c;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
}					
/*index.html*/
/*section	main_categories*/
.main_categories {
	background-color: #ffffff;
	margin-bottom: 55px;
}
.main_categories_cell {
	display: flex;
	justify-content: space-between;
	padding-top: 35px;
	padding-bottom: 20px;
}
.categories_cell_item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;	
	width: 300px;
	height: 125px;
	box-sizing: border-box;
	padding-top: 25px;
	padding-left: 25px;	
}
.categories_cell_item h2 {
	font-size: 24px;
	font-weight: normal;
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 15px;
}
.categories_cell_item a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 135px;
	height: 40px;
	border-radius: 5px;
	background-color: rgba( 0, 0, 0, 0.1);
	text-transform: uppercase;
	font-size: 14px;
	color: #ffffff;
}
.categories_cell_item a:hover {
	background-color: rgba( 0, 0, 0, 0.2);
}
.categories_cell_item a:active {
	background-color: rgba( 0, 0, 0, 0.3);	
}				
.material {
	background-color: #ffbf47;
	background-image: url(../img/icon-materials.svg);
	background-repeat: no-repeat;
	background-position: 213px 31px;
}
.sticker {
	position: relative;	
	overflow: hidden;
}
.sticker::after {
	content: 'new';
	position: absolute;
	top: 5px;
	right: -23px;
	width: 80px;
	height: 25px;
	background-color: #ff5357;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotate(45deg);
}
.instrument {
	background-color: #3bbce3;
	background-image: url(../img/icon-instruments.svg);
	background-repeat: no-repeat;
	background-position: 198px 33px;	
}
.technics {	
	background-color: #dc91d8;
	background-image: url(../img/icon-technics.svg);
	background-repeat: no-repeat;
	background-position: 191px 31px;		
}
.discounts {	
	background-color: #8ed78f;
	background-image: url(../img/icon-discounts.svg);
	background-repeat: no-repeat;
	background-position: 196px 26px;	
}
.delivery {
	background-color: #ffc047;
	background-image: url(../img/icon-delivery.svg);
	background-repeat: no-repeat;
	background-position: 191px 32px;	
}
.slider_and_info {
	display: flex;
	justify-content: space-between;
}
.info {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 300px;
}
.discounts {
	margin-bottom: 20px;
}
.slider {
	display: flex;
	position: relative;
	width: 620px;
	overflow: hidden;
}
#slider_swich_backward:checked ~ .slider_drill,
#slider_swich_backward:checked ~ .slider_puncher {
	transform: translate(0);
}
.slider_swich_forward:checked ~ .slider_drill,
.slider_swich_forward:checked ~ .slider_puncher {
	transform: translateX(-620px);
}
.slider label[for="slider_swich_backward"] {
	position: absolute;
	top: 114px;
	left: 25px;
	width: 22px;
	height: 40px;
	background-image: url(../img/icon-left.svg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	z-index: 1;
}
.slider label[for="slider_swich_forward"] {
	position: absolute;
	top: 114px;
	right: 20px;
	width: 22px;
	height: 40px;
	background-image: url(../img/icon-right.svg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	z-index: 1;
}
.slider h2 {
	font-size: 36px;
	color: #ffffff;
	text-transform: uppercase;
	margin: 0;
}
.slider p {
	font-size: 18px;
	color: #ffffff;
}
.slider_drill,
.slider_puncher {
	position: relative;
	transition: transform 0.8s ease;
}
.slider_drill h2,
.slider_puncher h2 {
	position: absolute;
	top: 20px;
	left: 25px;
}
.slider_drill p,
.slider_puncher p {
	position: absolute;
	top: 65px;
	left: 25px;	
}
.slider_drill a,
.slider_puncher a {
	display: flex;
	justify-content: center;
	align-items: center;	
	position: absolute;
	bottom: 22px;
	left: 25px;	
	width: 195px;
	height: 38px;
	border-radius: 5px;
}
.main_link {
	background-color: #ee3643;
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
}
.main_link:hover {
	background-color: #ca2c37;
}
.main_link:active {
	background-color: #ba2732;
}
/*section popular_products*/
.popular_products {
	background-color: #ffffff;
	margin-bottom: 20px;
}
.popular_products_head,
.popular_manufacturer_head {
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-height: 90px;
	background-color: #f9f5f0;
	padding-left: 30px;
	padding-right: 25px;
	margin-bottom: 20px;
}
.popular_products_head a,
.popular_manufacturer_head a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 255px;
	height: 40px;
	border-radius: 5px;	
}
.products_grid {
	display: flex;
	justify-content: space-between;
}
.products_grid_item {
	display: flex;
	position: relative;		
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 220px;
	height: 320px;
	box-sizing: border-box;
	padding-bottom: 20px;
	border: 1px solid #e5e5e5;
}
.products_grid_item:hover {
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
} 
.container_grid_item {
	display: flex;
	position: relative;	
	justify-content: center;
	align-items: center;	
	width: 100%;
	height: 180px;
}
.buy_or_remember {
	position: absolute;
	top: 43px;
	left: 41px;
	display: none;	
}
.products_grid_item:hover img {
	display: none;
}
.products_grid_item:hover .buy_or_remember {
	display: block;
}
.price {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}
.price a {
	display: flex;
	justify-content: center;
	align-items: center;	
	width: 120px;
	height: 38px;
	box-sizing: border-box;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;		
}

.products_grid_item p:first-of-type {
	width: 160px;
	height: 18px;
	text-align: center;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	margin-bottom: 10px;	
}
.price p:last-of-type {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	font-weight: bold;	
	color: #a9a9a9;	
	text-decoration: line-through;
	text-transform: uppercase;
	margin-bottom: 13px;
}
.price .main_link {
	position: relative;
}
.price .main_link::after {
	content: '';
	position: absolute;
	top: 5px;
	right: -13px;
	width: 28px;
	height: 28px;
	border-radius: 50% 0 0 0;
	background-color: #ee3643;
	transform: rotate(-45deg);
}
.price .main_link:hover::after {
	background-color: #ca2c37;
}
.price .main_link:active::after {
	background-color: #ba2732;
}
.buy_or_remember a:first-child {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 135px;
	height: 38px;	
	border-radius: 3px;
	background-color: #63a63e;
	box-shadow: inset 0 -3px 0 #367315;
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 8px;
}
.buy_or_remember a:first-child:hover {
	background-color: #5fbb2d;
	box-shadow: inset 0 -3px 0 #367315;	
}
.buy_or_remember a:first-child:active {
	background-color: #518534;
	box-shadow: none;		
}
.buy_or_remember a:last-child {
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	width: 135px;
	height: 38px;	
	border-radius: 3px;	
	border: 3px solid #63a63e;
	font-size: 14px;
	color: #32425c;
	text-transform: uppercase;
}
.buy_or_remember a:last-child:hover {
	border: 3px solid #32425c;	
}
.buy_or_remember a:last-child:active {
	border: 3px solid #32425c;
	opacity: 0.3;
	color: #32425c;
}
/*section popular_manufacturer*/
.popular_manufacturer {
	background-color: #ffffff;	
}
.popular_manufacturer_grid {
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	min-height: 310px;
	flex-wrap: wrap;
	margin-bottom: 85px;	
}
.popular_manufacturer_grid a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 220px;
	height: 145px;	
	border: 1px solid #eaeaea;
}
.popular_manufacturer_grid a:hover {
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}
.popular_manufacturer_grid a:active {
	box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}
/* section services*/
.services {
	background-color: #f4f7f9;
	padding-top: 65px;
	padding-bottom: 105px;
	overflow: hidden;
}
.services_top_part {
	margin-bottom: 70px;
}
.services_top_part h2 {
	font-size: 30px;
	color: #000000;
	font-weight: normal;
	text-transform: uppercase;
}
.services_paragraph {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	color: #000000;
	line-height: 24px;
	margin: 0;
}
.services_headline {
	font-size: 36px;
	color: #32425c;
	text-transform: uppercase;
	margin: 0;
}
.services_bottom_part {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
}
#services_delivery_on:checked ~ .services_delivery {
	display: block;
}
#services_delivery_on:checked ~ .services_guarantee,
#services_delivery_on:checked ~ .services_credit {
	display: none;
}
#services_guarantee_on:checked ~ .services_guarantee {
	display: block;
}
#services_guarantee_on:checked ~ .services_delivery,
#services_guarantee_on:checked ~ .services_credit {
	display: none;
}
#services_credit_on:checked ~ .services_credit {
	display: block;
}
#services_credit_on:checked ~ .services_delivery,
#services_credit_on:checked ~ .services_guarantee {
	display: none;
}
.services_bottom_part_nav {
	display: flex;
	position: relative;
	box-sizing: border-box;
	flex-direction: column;
	min-width: 240px;
	list-style: none;
	align-self: flex-start;
	margin: 0;
	padding: 0;
}
.services_bottom_part_nav:after {
	content: '';
	position: absolute;
	top: -35px;
	right: -1px;
	width: 11px;
	height: 280px;
	background: url(../img/shadow_line.png) no-repeat;
}
.services_bottom_part_nav label {
	display: flex;
	align-items: center;
	width: 240px;
	height: 61px;
	background-color: #32425c;
	font-size: 21px;
	font-weight: bold;
	color: #ffffff;
	padding-left: 23px;
}
.services_bottom_part_nav label:hover {
	background-color: #293449;
}
.services_bottom_part_nav label:active {
	background-color: #ffffff;
	color: #32425c;
}
#services_delivery_on:checked ~ .services_bottom_part_nav .services_delivery_on_button {
	background-color: #ffffff;
	color: #32425c;
}
#services_guarantee_on:checked ~ .services_bottom_part_nav .services_guarantee_on_button {
	background-color: #ffffff;
	color: #32425c;
}
#services_credit_on:checked ~ .services_bottom_part_nav .services_credit_on_button {
	background-color: #ffffff;
	color: #32425c;
}
.services_bottom_content {
	margin-left: 80px;
}
.services_delivery::after {
	content: '';
	position: absolute;
	top: 20px;
	right: 0;
	width: 468px;
	height: 261px;
	background-image: url(../img/delivery-car.png);
	background-repeat: no-repeat;
}
.services_guarantee::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 389px;
	height: 283px;
	background-image: url(../img/guarantee.png);
	background-repeat: no-repeat;
}
.services_credit::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 465px;
	height: 285px;
	background-image: url(../img/credit.png);
	background-repeat: no-repeat;
}
.services_bottom_content h2 {
	margin-bottom: 20px;
}
.services_credit .main_link{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 195px;
	height: 38px;
	border: 5px;
}
.services_credit p:last-of-type {
	margin-bottom: 30px;
}
/*section about*/
.about .wrapper {
	display: flex;
	justify-content: space-between;
	padding-top: 80px;
	margin-bottom: 85px;
}
.about_company {
	display: flex;
	flex-direction: column;
	width: 520px; 
}
.contacts {
	display: flex;
	flex-direction: column;	
	width: 300px;
}
.about_headline {
	font-size: 30px;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 20px;
}
.about_company .services_paragraph {
	margin-bottom: 20px;
}
.about_company ul {
	list-style: none;
	margin: 0;
}
.about_company li:not(:last-child) {
	margin-bottom: 20px;
}
.about_company li:last-child {
	margin-bottom: 35px;
}
.about_company .main_link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 220px;
	height: 38px;
	border-radius: 5px;
}
.about_company_link {
	position: relative;
	font-size: 18px;
	color: #000000;	
}
.about_company_link::before {
	content: '';
	position: absolute;
	top: 50%;
	left: -35px;
	width: 25px;
	height: 2px;
	background-color: #ee3643;
}
.contacts .services_paragraph {
	margin-bottom: 30px;
}
.contacts img {
	margin-bottom: 35px;	
}
.contacts .main_link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 38px;
	border-radius: 5px;		
}
/*section write_us*/
.write_us {
	display: none;
	position: fixed;
	top: 50%;
	margin-top: -215px;
	left: 50%;
	margin-left: -310px;
	right: 0;
	background-color: #ffffff;
	flex-direction: column;
	width: 620px;
	height: 430px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
	box-sizing: border-box;
	border-top: 7px solid #ff5257;
	padding-top: 48px;
	z-index: 1;
}
.write_us .wrapper {
	width: 460px;
	margin: 0 auto;
}
.write_us_footer {
	height: 112px;
	background-color: #f4f4f4;
}
.write_us_footer .wrapper {
	display: flex;
	height: 112px;
	justify-content: center;
	align-items: center;
}
.write_us_send {
	width: 460px;
	height: 38px;
	border-radius: 3px;
	border: 0;
}
.customer_data {
	display: flex;
	justify-content: space-between;
}
.customer_data_item {
	display: flex;
	flex-direction: column;
	width: 220px;
	margin-bottom: 22px;
}
.customer_label {
	font-size: 18px;
	margin-bottom: 10px;
}
.customer_data_item input {
	width: 220px;
	height: 38px;
	border: 2px solid #dee3e4;	
	border-radius: 3px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	padding-left: 15px;
	box-sizing: border-box;	
}
.customer_entry_field textarea{
	width: 100%;
	height: 114px;
	resize: none;
	border: 2px solid #dee3e4;
	border-radius: 3px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	padding-top: 10px;
	padding-left: 15px;
	box-sizing: border-box;
	margin-top: 10px;
	margin-bottom: 37px;			
}
.pop_up_close {
	position: absolute;
	top: 15px;
	right: 9px;
	width: 21px;
	height: 21px;
}
.pop_up_close::before,
.pop_up_close::after {
	content: '';
	position: absolute;
	width: 23px;
	height: 3px;
	background-color: #ee3643;
}
.pop_up_close::before {
	transform: rotate(45deg);
}
.pop_up_close::after {
	transform: rotate(-45deg);
}
.screen_shading {
	display: none;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	z-index: 1;
}
.on_off_write_us:checked ~ .write_us {
	display: flex;
	z-index: 2;
}
.on_off_write_us:checked ~ .screen_shading {
	display: flex;
}
/*section maps*/
.maps {
	display: none;
	position: fixed;
	top: 50%;
	margin-top: -225px;
	left: 50%;
	margin-left: -471px;
	right: 0;
	background-color: #ffffff;
	width: 943px;
	height: 449px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
	z-index: 1;	
}
.on_off_maps:checked ~ .maps {
	display: flex;
	z-index: 2;
}
.on_off_maps:checked ~ .screen_shading {
	display: flex;
}
/*cataloh.html*/
.breadcrumbs ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}
.breadcrumbs li {
	display: flex;
	align-items: center;
	height: 60px;
	margin-right: 40px;
}
.breadcrumbs_link {
	position: relative;	
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	color: #000000;
	text-transform: uppercase;
}
.breadcrumbs_link_main {
	display: flex;	
	width: 15px;
	height: 12px;
	background-image: url(../img/icon-home.svg);
	background-repeat: no-repeat;
}
li:not(:last-child) .breadcrumbs_link:after {
	content: '';
	position: absolute;
	top: 2px;
	right: -27px;
	width: 8px;
	height: 12px;
	background-image: url(../img/icon-right-small.svg);
	background-repeat: no-repeat;
}
/*section product_page*/
.perforator_link {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	min-height: 90px;
}
.perforator_link .category_headline {
	margin-left: 30px;
}
.perforator_link {
	background-color: #f2f6f8;	
	margin-bottom: 20px;
}
.product_page_container {
	display: flex;
	justify-content: space-between;
}
.product_page .product_grid {
	display: flex;
	flex-direction: column;
	width: 700px;
}			
.filter {
	display: flex;
	flex-direction: column;	
	align-self: flex-start;
	width: 220px;	
	background-color: #ffffff;
}
.filter_form p {
	margin: 0;
}
.column_pointer {	
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 38px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	color: #000000;
	text-transform: uppercase;
	padding-left: 18px;
	margin: 0;	
	background-color: #f7f3ec;
}
.filter_form legend,
.filter_form p {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	font-weight: bold;
	color: #000000;
	background-color: #ffffff;
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 20px;
}
.filter_item {
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
}
.range_filter {
	width: 100%;
}
.range_control {
	position: relative;
	height: 41px;
	padding-top: 39px;  
	margin-bottom: 10px;
	background-color: #f7f3ec;
	border-radius: 5px;
 	padding-right: 20px;
 	padding-left: 20px;	
}
.range_control .scale {
	height: 2px;
	background: #d7dcde;
}
.range_control .bar {
	width: 80%;
	height: 2px;
	background: #00ca74;
}
.range_control .toggle {
	position: absolute;
	top: 31px;
	left: 0;	
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid #ffffff;
	background-color: #ababab;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	cursor: pointer;		
}
.range_control .toggle_min {
	left: 18px;
}
.range_control .toggle_max {
	left: 158px;
}
.price_control {
	display: flex;
	justify-content: space-between;
	font-size: 0;
}
.price_control label {
	display: flex;
	justify-content: center;
	align-items: center;
}
.price_control input {
	width: 95px;
	min-height: 38px;
	font-size: 17px;
	font-family: "PT Sans", Arial, sans-serif;	
	text-transform: uppercase;	
	border: none;
	border-radius: 5px;
	background: #f7f3ec;
	text-align: center;	
}
.min_price {
	position: relative;
}
.min_price::after {
	content: '';
	position: absolute;
	right: -20px;
	width: 10px;
	height: 1px;
	background-color: #444444;
}
.filter_framework {
	display: flex;
	flex-direction: column;
}
.filter_framework_item {
	position: relative;
	font-size: 15px;
	font-family: "PT Sans", Arial, sans-serif;	
	text-transform: uppercase;
	margin-left: 35px;
}
.filter_framework_item:disabled {
	opacity: 0.4;
}
.filter_framework_item:not(:last-child) {
	margin-bottom: 25px;
}
.filter_framework_item::before {
	content: '';
	position: absolute;
	top: -3px;
	left: -35px;
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
}
.manufacturers_framework .filter_framework_item::before {
	background-image: url(../img/checkbox-off.svg);
}
.electricity_framework .filter_framework_item::before {
	background-image: url(../img/radio-off.svg);
}
.electricity_framework .filter_framework_item:hover::before {
	background-image: url(../img/radio-off-hover.svg);
}
.manufacturers_framework .filter_framework_item:hover::before {
	background-image: url(../img/checkbox-off-hover.svg);
}
.manufacturers_framework_bosch:checked ~ .manufacturers_framework_bosch::before,
.manufacturers_framework_interscol:checked ~ .manufacturers_framework_interscol::before,
.manufacturers_framework_makita:checked ~ .manufacturers_framework_makita::before,
.manufacturers_framework_dewalt:checked ~ .manufacturers_framework_dewalt::before,
.manufacturers_framework_hitachi:checked ~ .manufacturers_framework_hitachi::before {
	background-image: url(../img/checkbox-on.svg);	
}
.manufacturers_framework_bosch:checked ~ .manufacturers_framework_bosch:hover::before,
.manufacturers_framework_interscol:checked ~ .manufacturers_framework_interscol:hover::before,
.manufacturers_framework_makita:checked ~ .manufacturers_framework_makita:hover::before,
.manufacturers_framework_dewalt:checked ~ .manufacturers_framework_dewalt:hover::before,
.manufacturers_framework_hitachi:checked ~ .manufacturers_framework_hitachi:hover::before {
	background-image: url(../img/checkbox-on-hover.svg);	
}
.electricity_framework_rechargeable:checked ~ .electricity_framework_rechargeable::before,
.electricity_framework_network:checked ~  .electricity_framework_network::before {
	background-image: url(../img/radio-on.svg);		
}
.electricity_framework_rechargeable:checked ~ .electricity_framework_rechargeable:hover::before,
.electricity_framework_network:checked ~  .electricity_framework_network:hover::before {
	background-image: url(../img/radio-on-hover.svg);		
}
.filter_item_electricity {
	margin-bottom: 80px;
}
.filter_button {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	color: #000000;	
	text-transform: uppercase;
	width: 140px;
	height: 38px;
	border: 1px solid #e5e5e5;
	background-color: #ffffff;
	border-radius: 3px;
}
.filter_button:hover {
	border: 1px solid #bdc6ca;	
}
.filter_button:active {
	border: 1px solid #ee3643;	
}
.sorting {
	display: flex;
	align-items: center;
	background-color: #f7f3ec;
	margin-bottom: 20px;
}
.sorting p {
	margin-right: 140px;	
}
.sorting a:first-of-type {
	margin-right: 70px;
}
.sorting a:nth-of-type(2) {
	margin-right: 65px;	
}
.sorting a:nth-of-type(3) {
	margin-right: 45px;	
}
.sorting_link {
	flex-wrap: nowrap;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 13px;
	color: #000000;
	opacity: 0.3;
	text-transform: uppercase;
	border-bottom: 1px dotted #ee3643;	
}
.sorting_link:hover {
	color: #000000;
	opacity: 1;
	border-bottom: 1px solid #ee3643;	
}
.sorting_link:active {
	color: #ee3643;
	border: none;
}
.sorting_by_increase {
	width: 0;
	height: 0;
	border-top: 0;
	border-right: 5px solid  transparent;
	border-left: 5px solid  transparent;	
	border-bottom: 10px solid #c5c5c5;
	margin-right: 20px;
}
.sort_by_reduction {
	width: 0;
	height: 0;
	border-top: 10px solid  #c5c5c5;
	border-right: 5px solid  transparent;
	border-left: 5px solid  transparent;	
	border-bottom: 0;
}
.sorting_by_increase:hover {
	border-bottom: 10px solid #231f20;
}
.sort_by_reduction:hover {
	border-top: 10px solid #231f20;
}
.sorting_by_increase:active {
	border-bottom: 10px solid #ee3643;
}
.sort_by_reduction:active {
	border-top: 10px solid #ee3643;
}
.puncher_products_grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.puncher_products_grid .products_grid_item:not(:nth-last-child(-n+3)) {
	margin-bottom: 20px;
}
.puncher_products_grid .products_grid_item:nth-last-child(-n+3) {
	margin-bottom: 50px;	
}
.pagination {
	margin-bottom: 60px;
}
.pagination ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}
.pagination li {
	margin-right: 10px;
}
.pagination a {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	color: #000000;	
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
}
.pagination a:not(.pagination_next) {
	width: 38px;
	height: 38px;	
}
.pagination_next {
	width: 140px;
	height: 38px;
}
.pagination a:hover {
	border: 1px solid #bdc6ca;
}
.pagination a:active {
	border: 1px solid #ee3643;
}
/*.pagination a:visited {
	color: #ffffff;
	background-color: #ee3643;
	border: none;
}*/
/*section about_punchers*/
.about_punchers {
	background-color: #f2f6f8;
	padding-top: 65px;
	padding-bottom: 75px;
}
.about_punchers h2 {
	margin-top: 0;
	margin-bottom: 30px;
}				
/*footer*/
.footer_heater {
	background-color: #32425c;
	padding-bottom: 50px;	
}
.footer_heater .wrapper {
	display: flex;
	flex-direction: column;
}
.footer_heater_top,
.footer_heater_bottom {
	display: flex;
	justify-content: space-between;
}
.footer_heater_top .logo {
	width: 220px;
	height: 68px;
	margin-bottom: 30px;
}
.footer_heater_top ul,
.footer_heater_bottom ul {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
}
.footer_heater_bottom ul {
	align-items: flex-start;
}
.footer_contacts {
	margin: 0;
}
.footer_contacts a {
	line-height: 30px;
}
.footer_heater_top li:not(:last-child),
.footer_heater_bottom li:not(:last-child) {
	margin-right: 60px;
}
.grey {
 	color: #f1f5f7;
}
.yellow {
	color: #ffd180;	
}
.footer_nav_link {
	font-size: 18px;
}
.footer_nav_link:hover {
	text-decoration: underline;
}
.footer_nav_link:active {
	opacity: 0.5;
	text-decoration: none;
}
.footer_contacts,
.footer_contacts a {
	font-size: 18px;
	color: #f1f5f7;
}
.footer_heater_bottom > ul {
	list-style: none;
		margin: 0;
}
.footer_footer {
	background-color: #293449;
}
.footer_footer .wrapper {
	display: flex;
	align-items: center;
	min-height: 105px;	
}
.copyright {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	margin: 0;
}
.social {
	display: flex;
	justify-content: center;
	margin-left: 160px;
}
.social a {
	display: block;
	width: 42px;
	height: 42px;
	background-color: #212a3a; 
	color: #ffffff;
	border-radius: 50%;
}
.social a:first-child {
	background-image: url(../img/icon-vk.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-right: 5px;
}
.social a:nth-child(2) {
	background-image: url(../img/icon-fb.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-right: 5px;	
}
.social a:nth-child(3) {
	background-image: url(../img/icon-insta.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.social a:hover,
.social a:active {
	background-color: #ee3643;
}
.feedback {
	margin-left: 120px;
}
.developed_by {
	margin-left: 50px;	
}
.feedback,
.developed_by {
	font-size: 16px;
	color: #ffffff;
}
.feedback a,
.developed_by a  {
	color: #ffd180;
}
.feedback a:hover,
.developed_by a:hover  {
	text-decoration: underline;
}
.feedback a:active,
.developed_by a:active {
	color: #ee3643;
}